<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OCRService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OCRService.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>server=ec2dev1;database=esoda;integrated security=SSPI;</value>
            </setting>
            <setting name="GetConfigProcedureName" serializeAs="String">
                <value>pOCRGetConfiguration</value>
            </setting>
            <setting name="GetScanProcedureName" serializeAs="String">
                <value>pOCRGetScan</value>
            </setting>
            <setting name="DocumentsDirectory" serializeAs="String">
                <value>D:\AppFolders\eSoda\Dokumenty</value>
            </setting>
            <setting name="SaveOCRSuccessProcedureName" serializeAs="String">
                <value>pOCRSaveOCRText</value>
            </setting>
            <setting name="SaveOCRFailureProcedureName" serializeAs="String">
                <value>pOCRMarkAsUnOCRable</value>
            </setting>
            <setting name="TessdataDir" serializeAs="String">
                <value>C:\release\ocrService\Application Files\OCRService</value>
            </setting>
        </OCRService.Properties.Settings>
    </applicationSettings>
</configuration>