<appSettings>
    <add key="katalogRoboczy" value="~/temp"/>
    <add key="plikKonfiguracyjnySkanerow" value="D:\AppFolders\esoda\konfiguracjaSkanerow.xml"/>
	<add key="katalogDokumentow" value="D:\AppFolders\esoda\esodaDocs"/>
  <add key="codename" value="[DEV]"/>
  <add key="mode" value="eSoda" />
    <add key="katalogMSO" value="MSOIntegration"/> 
	<add key="ePUAPPodmiot" value="944po5vpby"/>
  <add key="ePUAPNazwaSkrytki" value="pull"/>

 </appSettings>
 
 