<connectionStrings>
    
    <add
    name="EsodaDatabase"
    connectionString="Data Source=ec2dev1;Initial Catalog=esodaostrow;Integrated Security=SSPI;Pooling=false"
    providerName="System.Data.SqlClient" />

  <add name="Pemi.Esoda.DataAccess.Properties.Settings.eSodaConnectionString"
          connectionString="Data Source=ec2dev1;Initial Catalog=esodaostrow;Integrated Security=SSPI;Pooling=false"
           providerName="System.Data.SqlClient" />
    
</connectionStrings>

